.page-wrapper-modal {
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.page-wrapper-form > form > .form-group {
    padding: 0px 0px 15px 0px;
    margin-bottom: 0px;
}

.page-wrapper-modal > form > .form-group {
    padding: 10px 5px;
    border-top: 1px solid #ddd;
    margin-bottom: 0px
}

.page-wrapper-modal > form > .form-group:first-child {
    border-top: 0;
}

.ddm4_button_option {
    cursor: pointer;
}

.custom-select.dropdown-toggle::after {
    display: none;
}

.dropdown-flex-100 .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    text-align: left !important;
}

.dropdown-flex-100 .dropdown-menu {
    width: 100% !important;
    text-align: left !important;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    z-index: 1300;
}

table.dataTable {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}