body {
    background-color: #fff;
}

#page-wrapper {
    padding: 15px;
}

.page-wrapper-modal {
    background-color: white;
    padding: 5px 10px;
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.page-wrapper-form > form > .form-group {
    padding: 0px 0px 15px 0px;
    margin-bottom: 0px;
}

.page-wrapper-modal > form > .form-group {
    padding: 10px 5px;
    border-top: 1px solid #ddd;
    margin-bottom: 0px
}

.page-wrapper-modal > form > .form-group:first-child {
    border-top: 0;
}

.ddm4_button_option {
    cursor: pointer;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.custom-select.dropdown-toggle::after {
    display: none;
}

.dropdown-flex-100 .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    text-align: left !important;
}

.dropdown-flex-100 .dropdown-menu {
    width: 100% !important;
    text-align: left !important;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    z-index: 1300;
}

table.dataTable {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}