body {
    background-color: #fff;
    overflow-y: scroll;
}

#page-wrapper {
    padding: 15px;
}

.page-wrapper-color {
    background-color: white;
    padding: 5px 10px;
    overflow: hidden;
}

.page-wrapper-color > form > .form-group {
    padding: 10px 5px;
    border-top: 1px solid #ddd;
    margin-bottom: 0px;
}

.page-wrapper-color > form > .form-group:first-child {
    border-top: 0;
}

.ddm4_button_option {
    cursor: pointer;
}


.bootstrap-select .dropdown-toggle::after {
    display: none;
}
